<h1>Signers from {{ signers.0.city }}</h1>

<div id="signers-container">
    {{#signers}}
        <div class="signer">
            <p>{{ this.first_name }} {{ this.last_name }} {{ this.age }} <a href="/signers/{{ this.city }}">{{ this.city }}</a></p>
        </div>
    {{/signers}}
</div>
