<form method="post">
    <input type="text" name="firstname" value="{{ userInfo.first_name }}">
    <input type="text" name="lastname" value="{{ userInfo.last_name }}">
    <input type="text" name="password" value="">
    <input type="text" name="age" value="{{ userInfo.age }}">
    <input type="text" name="city" value="{{ userInfo.city }}">
    <input type="text" name="url" value="{{ userInfo.url }}">
    <button type="submit">Submit Changes</button>
</form>
